<div class= "cadastrarservico=box" >
    <button type="button" routerLink="/ticket" class="btn btn-primary btn-sm"> Cadastrar novo Ticket</button>
    <div class="input-box">
        <label> Procurar</label>
        <input type="text" class="form-control form-control-sm" placeholder="Qual registro está buscando?" (input)="search($event)">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Pagamento</th>
            <th>Placa</th>
            <th>Codigo Ticket</th>
            <th>Hora de Entrada</th>
            <th>Hora de Saida</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let ticket of listatickets">
        <tr>
           <td >
            <div *ngIf="ticket._Pagamento === true; else inativo">
                <img cImg height="30" rounded src="assets/images/ativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            </div>
            <ng-template #inativo>
                <img cImg height="30" rounded src="assets/images/inativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            </ng-template>
            </td>
            <td>{{ticket._Placa}}</td>
            <td>{{ticket._codTicket}}</td>
            <td>{{ticket._HoraEntrada | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ticket._HoraSaida | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            
            <td>
                <button type="button" class="btn btn-warning btn-sm" routerLink="/ticketedit">Editar</button>
                <button type="button" class="btn btn-secondary btn-sm">Detalhes</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="excluirRegistro(ticket._idTicket)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
