<div class="container p-5">
    <div class="row">
      <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label>CPF</label>
            <select class="form-control form-control-sm" formControlName="_Cpf" required>
              <option *ngFor="let cliente of clientes" [value]="cliente._Cpf">
                {{cliente._Cpf}}
              </option>
            </select>
        </div>
        <div class="form-group">
          <label>ID Servico</label>
            <select class="form-control form-control-sm">
              <option *ngFor="let servico of servicos">
              {{ servico._idServico}}
              </option>
            </select>
            <label>Servico</label>
            <select class="form-control form-control-sm" formControlName="_idServico" required>
              <option *ngFor="let servico of servicos" [value]="servico._idServico">
              {{ servico._tipoServico }}
              </option>
            </select>
            <label>Valor Nota</label>
            <select class="form-control form-control-sm" formControlName="_ValorDaNota" required>
            <option  *ngFor="let servico of servicos" [value]="servico._valorServico">
              R${{servico._valorServico}},00 {{ servico._tipoServico}}
            </option>
            </select>
        </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-primary btn-sm">
                  Pagar
                </button>
              </div>
              <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light" routerLink="/home">Voltar</button><router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </form>
        deseja CPF na nota? <a routerLink="/cliente">Clique aqui</a><router-outlet></router-outlet>
      </div>
    </div>
</div>

