<div class= "cadastrarservico=box" >
    <button type="button" routerLink="/servico" class="btn btn-primary btn-sm"> Cadastrar novo serviço</button>
    <div class="input-box">
        <label> Procurar</label>
        <input type="text" class="form-control form-control-sm" placeholder="Qual registro está buscando?" (input)="search($event)">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Pagamento</th>
            <th>ID Servico</th>
            <th>Codigo Ticket</th>
            <th>Tipo Serviço</th>
            <th>Valor Serviço</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let servico of listaservicos">
        <tr>
           <td>
            <div *ngIf="servico._Pagamento == true; else inativo">
                <img cImg height="30" rounded src="assets/images/ativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            </div>
            <ng-template #inativo>
                <img cImg height="30" rounded src="assets/images/inativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            </ng-template>
            </td>
            <td>{{servico._idServico}}</td>
            <td>{{servico._codTicket}}</td>
            <td>{{servico._tipoServico}}</td>
            <td>{{servico._valorServico}}</td>
            
            <td>
                <button type="button" class="btn btn-success btn-sm" routerLink="/servicospagar">Pagar</button>
                <button type="button" class="btn btn-warning btn-sm" routerLink="/servicosedit">Editar</button>
                <button type="button" class="btn btn-secondary btn-sm">Detalhes</button>
            </td>
            <td>
                <button type="number" class="btn btn-danger btn-sm" (click)="excluirRegistro(servico._idServico)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>