<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Serviços</h1>
    <p class="lead">Aqui estão um de nossos serviços para veiculo dentro do estacionamento, aproveite..!</p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Estética</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$250<small class="text-muted">,00</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Polimento</li>
            <li>Vitrificação</li>
            <li>Polimento Faróis</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/veiculo">Aproveitar</button><router-outlet></router-outlet>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Higienização</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$150<small class="text-muted">,00</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Lavagem externa</li>
            <li>Limpeza interna</li>
            <li>Revitalização de Acessórios</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/veiculo">Aproveitar</button><router-outlet></router-outlet>
        </div>
      </div>
      </div>
    </div>
